#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    position: relative;
    z-index:1;
  }
  
#nav {
  position: absolute;
  float : left;
  background-color: #ffffff;
	width : 22%;
  top: 10px;
  left: 10px;
  z-index:2;
}

#nav a {
font-weight: bold;
color: #2c3e50;
}

#nav a.router-link-exact-active {
color: #42b983;
}