html, 
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    position: relative;
    z-index:1;
  }
  
.navBar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 6;
}

.navBar #title {
  float: left;
  font-size: large;
  margin-top: 15px;
  margin-left: 5px;
}

.navBar button {
  text-align: center;
  float: right;
  font-size: small;
  background-color: #ffffff;
  margin-top: 15px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.sidebar {
  position: absolute;
  float : left;
  background-color: #ffffff;
	width : 250px;
  top: 5px;
  left: 10px;
  z-index:7;
  box-shadow: #2c3e50;
}
 
.sidebar a {
font-weight: bold;
color: #2c3e50;
}

.sidebar a.router-link-exact-active {
color: #42b983;
}
 
#IntermediateResult {
  position: absolute;
  float : right;
  background-color: #ffffff;
	width : 300px;
  top: 60px;
  right: 10px;
  z-index:2;
  font-size: x-small;
}

#townInfo {
  position: absolute;
  float : left;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
	width : 250px;
  height: 95%;
  top: 5%;
  left: 10px;
  z-index: 1;
  transition: 1s;
  overflow-y: scroll;
}

#townInfo:hover {
  opacity: 100%;
}

.map {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* chart */
.small {
  width: 22vh;
}

#logInPage {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#logInPage #logInBox {
  position: relative;
  top: 40%;
  height: 20%;
}

#myPage {
  position: relative;
}

@media (max-width: 1023px) {
  
}